<section id="about" class="cs parallax darken_gradient page_about section_padding_top_75 columns_margin_bottom_30">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-push-6 text-center">
							<h2 class="section_header">Welcome to Psychologist &amp; Family Consulting</h2>
							<br>
							<p class="bold fontsize_18">It's my goal to create a comfortable, safe environment, where we'll work to achieve the goal together.</p>
							<p class="fontsize_18">
								I am a certified specialist in the branch of psychology concerned with the assessment and treatment of mental illness and behavioural problems. My other passion is publishing. You can find and purchase all my books within this site.
							</p>
							<div class="with_icon topmargin_60">
								<h5 class="small-text text-uppercase inline-block">Ronda Solomou</h5>
								<span class="lightgrey">Psychologist</span>
							</div>
							<img src="../../../assets/images/signature.png" alt="" />
						</div>
						<div class="col-md-6 col-md-pull-6 text-center bottommargin_0">
							<img src="../../../assets/images/person.png" alt="" class="top-overlap" />
						</div>
					</div>
				</div>
			</section>