<div class="col-md-3 col-sm-6">
							<div class="price-table price-hover">
								<div class="price-media">
									<div class="plan-name">
										Personal
										<br> Help
									</div>
									<div class="plan-price with_icon">
										$99
										<p class="small-text">per hour</p>
									</div>
								</div>
								<div class="price-content ls with_shadow">
									<ul class="features-list">
										<li>
											Depression Therapy
										</li>
										<li>
											Stress Management
										</li>
										<li>
											Anxiety Treatment
										</li>
										<li>
											Individual Coaching
										</li>
										<li>
											Post-Divorce Recovery
										</li>
									</ul>
									<div class="call-to-action">
										<a href="#" class="theme_button color1">Book now</a>
									</div>
								</div>
							</div>
						</div>