<section id="faq" class="ls section_padding_top_130 section_padding_bottom_100">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2 class="section_header with_icon">Frequently Asked Questions</h2>
							<p>
								Exercitation cupim ex, short ribs cow in ullamco corned beef veniam kevin. Eu frankfurter ham hock ball tip reprehenderit adipisicing ipsum jerky tenderloin aliquip.
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="panel-group" id="accordion1">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion1" href="#collapse1" class="collapsed">
												What can I expect in the first session when I see a psychologist?
											</a>
										</h4>
									</div>
									<div id="collapse1" class="panel-collapse collapse">
										<div class="panel-body">
											Exercitation cupim ex, short ribs cow in ullamco corned beef veniam kevin. Eu frankfurter ham hock ball tip reprehenderit adipisicing ipsum jerky tenderloin.
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion1" href="#collapse2" class="collapsed">
												What are the sings of being abused by your partner?
											</a>
										</h4>
									</div>
									<div id="collapse2" class="panel-collapse collapse">
										<div class="panel-body">
											Exercitation cupim ex, short ribs cow in ullamco corned beef veniam kevin. Eu frankfurter ham hock ball tip reprehenderit adipisicing ipsum jerky tenderloin.
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion1" href="#collapse3" class="collapsed">
												What specific qualities are you looking for?
											</a>
										</h4>
									</div>
									<div id="collapse3" class="panel-collapse collapse">
										<div class="panel-body">
											Exercitation cupim ex, short ribs cow in ullamco corned beef veniam kevin. Eu frankfurter ham hock ball tip reprehenderit adipisicing ipsum jerky tenderloin.
										</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion1" href="#collapse4" class="collapsed">
												How much money do psychologists make?
											</a>
										</h4>
									</div>
									<div id="collapse4" class="panel-collapse collapse">
										<div class="panel-body">
											Exercitation cupim ex, short ribs cow in ullamco corned beef veniam kevin. Eu frankfurter ham hock ball tip reprehenderit adipisicing ipsum jerky tenderloin.
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">

							<div class="tab-content padding_0">

								<div class="tab-pane fade in active" id="tab1">
									<div class="embed-responsive embed-responsive-16by9">
										<a href="//player.vimeo.com/video/1084537" class="embed-placeholder">
											<img src="../../../assets/images/video_tab1.jpg" alt="">
										</a>
									</div>
								</div>

								<div class="tab-pane fade" id="tab2">
									<div class="embed-responsive embed-responsive-16by9">
										<a href="//player.vimeo.com/video/1084537" class="embed-placeholder">
											<img src="../../../assets/images/video_tab2.jpg" alt="">
										</a>
									</div>
								</div>

								<div class="tab-pane fade" id="tab3">
									<div class="embed-responsive embed-responsive-16by9">
										<a href="//player.vimeo.com/video/1084537" class="embed-placeholder">
											<img src="../../../assets/images/video_tab3.jpg" alt="">
										</a>
									</div>
								</div>
							</div>
							<!-- eof .tab-content -->

							<ul class="nav nav-image" role="tablist">
								<li class="active">
									<a href="#tab1" role="tab" data-toggle="tab">
										<img src="../../../assets/images/video_tab1.jpg" alt="">
									</a>
								</li>
								<li>
									<a href="#tab2" role="tab" data-toggle="tab">
										<img src="../../../assets/images/video_tab2.jpg" alt="">
									</a>
								</li>
								<li>
									<a href="#tab3" role="tab" data-toggle="tab">
										<img src="../../../assets/images/video_tab3.jpg" alt="">
									</a>
								</li>
							</ul>

						</div>
					</div>
				</div>
			</section>