<section id="prices" class="cs darken_gradient section_padding_75 columns_padding_0 columns_margin_0">
				<div class="container">
					<div class="row flex-row price-row">
						<div class="col-md-3 col-sm-6">
							<div class="price-table price-hover">
								<div class="price-media">
									<div class="plan-name">
										Personal
										<br> Help
									</div>
									<div class="plan-price with_icon">
										$99
										<p class="small-text">per hour</p>
									</div>
								</div>
								<div class="price-content ls with_shadow">
									<ul class="features-list">
										<li>
											Depression Therapy
										</li>
										<li>
											Stress Management
										</li>
										<li>
											Anxiety Treatment
										</li>
										<li>
											Individual Coaching
										</li>
										<li>
											Post-Divorce Recovery
										</li>
									</ul>
									<div class="call-to-action">
										<a href="#" class="theme_button color1">Book now</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="price-table price-hover">
								<div class="price-media">
									<div class="plan-name">
										Couples
										<br> Therapy
									</div>
									<div class="plan-price with_icon">
										$149
										<p class="small-text">per hour</p>
									</div>
								</div>
								<div class="price-content ls with_shadow">
									<ul class="features-list">
										<li>
											Depression Therapy
										</li>
										<li>
											Stress Management
										</li>
										<li>
											Anxiety Treatment
										</li>
										<li>
											Post-Divorce Recovery
										</li>
									</ul>
									<div class="call-to-action">
										<a href="#" class="theme_button color1">Book now</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="price-table price-hover">
								<div class="price-media">
									<div class="plan-name">
										Group
										<br> Therapy
									</div>
									<div class="plan-price with_icon">
										$49
										<p class="small-text">per hour</p>
									</div>
								</div>
								<div class="price-content ls with_shadow">
									<ul class="features-list">
										<li>
											Depression Therapy
										</li>
										<li>
											Stress Management
										</li>
										<li>
											Anxiety Treatment
										</li>
									</ul>
									<div class="call-to-action">
										<a href="#" class="theme_button color1">Book now</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="price-table price-hover">
								<div class="price-media">
									<div class="plan-name">
										Personal
										<br> Help
									</div>
									<div class="plan-price with_icon">
										$99
										<p class="small-text">per hour</p>
									</div>
								</div>
								<div class="price-content ls with_shadow">
									<ul class="features-list">
										<li>
											Depression Therapy
										</li>
										<li>
											Stress Management
										</li>
										<li>
											Anxiety Treatment
										</li>
										<li>
											Individual Coaching
										</li>
										<li>
											Post-Divorce Recovery
										</li>
									</ul>
									<div class="call-to-action">
										<a href="#" class="theme_button color1">Book now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>